html {
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  background-color: #efefef;
}
header {
  background-color: #364552;
  color: white;
  padding: 3rem 2rem;
}
header h1 {
  text-align: center;
  font-size: 4rem ;
}
.container {
  width: 700px;
  margin: 0 auto;
}
section article {
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 0.25rem 0;
  cursor: pointer;
}
section article:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}
.subtitles {
  font-size: 27px;
  margin: 1rem;
}
p {
  font-size: 18px;
  margin: 1rem;
}
h2 {
  font-size: 27px;
  margin: 1rem;
}
form {
  font-size: 18px;
  margin: 1rem;
}
.list {
  font-size: 20px;
  color: rebeccapurple;
}
img {
  display: block;
  margin: auto;
}
#img1 {
  width: 600px;
  height: 280px;
}
#img2 {
  width: 420px;
  height: 280px;
}
#img3 {
  width: 540px;
  height: 280px;
}
#img4 {
  width: 350px;
  height: 350px;
}
span {
  color: rebeccapurple;
}
#img5 {
  width: 270px;
  height: 150px;
}
#img6 {
  width: 270px;
  height: 150px;
}
#img7 {
  width: 270px;
  height: 150px;
}
footer {
  background-color: #364552;
  padding: 3rem;
}
footer section {
  float: right;
}
footer p {
  margin: 0;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer a:hover {
  color: cornflowerblue;
}
